@font-face {
      font-family: "Name of font goes here";
      src:url("https://linkforfontandstuff"),
          local("Font name"),
          local("FontName-Bold"),
          font-weight: bold;
    }
